.inputs {
    border: none;
    font-size: 30px;
}

.flexcontainer {
    display: flex;
    justify-content: flex-end;
}


.items:nth-child(1) {
    flex : 9;
    border: none;
}



.items:nth-child(2) {
    flex : 1;
}
.flex2 { 
    display: flex;
}

.inputs2 {
    border: none;

    width: 1140px;
    height: 800px;
    
    
}
input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.submits {
    border-radius: 12px;
    width: 100px;
    border-color: white;
}
