.App {
  text-align: center;
}

body {
  font-family: 'nanumsqare';
}

.item1 {
  font-size : 25px;
}
.item2 {
  width: 100px;
  margin-left : 550px;
 
}
.item3 {
  margin-left:10px;
}

.item4 {
  margin-left:30px;
}
.input-bar {
  width: 250px;
  height: 40px;
}

.게시글버튼 {
  margin-left: 880px;
}
.footer {

  background:ghostwhite;
  position: relative;
  font-size:12px;
  bottom: 0px;
  height: 50px;
  
}

.nav {

  background: cornflowerblue;
  width: 100%;
  display: flex;
  flex-direction: row; /*중심축 결정 */
  position: sticky;  /*고정 (스크롤해도 화면에 고정*/
  padding: 20px;
  color: cornsilk;
  
}


.margin1 {
  margin-left:200px;
  margin-right:200px;
}

.margin2 {
  margin-left:180px;
  margin-right:200px;
}
.span1 {
  font-size:12px;
}

.span2 {
  margin-left : 10px;
  font-size:12px;
}

.span3 {
  margin-left : 10px;
  font-size:12px;
}

.span4 {
  margin-left : 10px;
  font-size:12px;
}

.span5 {
  margin-left : 10px;
  font-size:12px;
}

.span6 {
  margin-left : 400px;
  font-size:12px;
}

.span7 {
  margin-left : 30px;
  font-size:12px;
}

.span8 {
  margin-left : 200px;
}

.span9 {
  margin-left : 20px;
}

.span10 {
  margin-left : 20px;
  font-weight: bolder;
}

.span11 {
  margin-left : 20px;
}

.span12 {
  margin-left : 20px;
}

.span13 {
  margin-left : 20px;
}

.nav2 {

  width: 100%;
  display: flex;
  flex-direction: row; /*중심축 결정 */
  padding: 20px;
  color: black;
  
}








